name: audiotranslator
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5
  http: ^1.2.0
  file_picker: ^8.0.0
  path_provider: ^2.1.2
  fpdart: ^1.1.0
  equatable: ^2.0.5
  share_plus: ^12.0.1
  mime: ^1.0.5
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.8
  riverpod_generator: ^2.4.0
  mocktail: ^1.0.3

flutter:
  uses-material-design: true
  assets:
    - .env
